{{define "listFile"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.ListFileTitle}}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <style type="text/css">
        </style>
    </head>
    
    <body role="document" youdao="bind">
    <div class="container theme-showcase" role="main">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped" id="datas">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>size(KB)</th>
                        <th>choose</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="mytemplate">
                        <td id="NO"></td>
                        <td id="Name"></td>
                        <td id="Size"></td>
                        <td id="Operation"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- /container -->
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        //console.log()
        var url = "/files";
        var dir = "/file"
        $(function () {
            clickFileorDir("dir", url, "");
        });
    </script>
    </body>
    
</html>
{{end}}